<template>
  <div>
    <div class="center">
      <form @submit.prevent="onSend">
        <label for="fname">sender:</label>
        <input type="text" id="fname" name="fname" v-model="form.sender" />
        <label for="lname">message:</label>
        <input type="text" id="lname" name="lname" v-model="form.msg" />
        <button type="submit">click send</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Home",
  components: {},
  data() {
    return {
      form: {
        msgId: 1,
        sender: "Tom",
        msg: "Hello",
      },
    };
  },
  methods: {
    async onSend() {
      try {
        let resp = await axios.post(
          process.env.VUE_APP_BASE_API + "/messager",
          this.form
        );
        alert(JSON.stringify(resp.data));
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>

<style scoped>
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label,
input[type="text"] {
  font-size: 20px;
  box-sizing: border-box;
}

button {
  font-size: 20px;
  background: #9bdfff4f;
  cursor: pointer;
}
</style>
